before_script:
- ssh-keygen -N '' -C 'build-test' -f ~/.ssh/id_rsa
- cp ~/.ssh/id_rsa.pub ~/.ssh/authorized_keys
language: ruby
cache: bundler
sudo: false
rvm:
- 2.2.0
- 2.1.5
- 2.0.0-p598
- 1.9.3-p551
notifications:
  email: false
  irc:
    channels:
    - irc.oftc.net#akerl
    template:
    - "%{repository}/%{branch}/%{build_number}: %{message} -- %{build_url}"
